*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --background-color: black;
    --second-background-color:black;
    --text-color:white;
    --main-color:skyblue;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background:var(--bg-color) ;
    color:var(--ṭext-color);
} 
.header{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    padding: 2rem 9%;
    background: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}