*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
:root {
    --background-color: black;
    --second-background-color:black;
    --text-color:white;
    --main-color:skyblue;

}
html{
    font-size: 60px;
    overflow-x: hidden;
}
body{
    background:var(--bg-color) ;
    color:var(--ṭext-color);
} 